*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*========== Map section for security company start here ========== */
#us-map{
  display: block;
  left: 0;
  width: 80%;
  max-width: 80%;
  margin: 0px auto;
  position: relative;
  top: 22px;
}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
.Guards-head h2{
  font-size: 40px;
  font-family: math;
  text-align: center;
  padding: 30px 0px 0px 0px;
}

/*========================== Media Query starting here================ */
@media only screen and (max-width:767px) {
  .Guards-head h2 {
    font-size: 30px;
    padding: 20px 0px 0px;
}
#us-map{
  width: 100%;
  max-width: 100%;
  height: 210px;
  max-height: 250px;
}
}